body {
    font-family: "Arial", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-in-out;
    max-width: 600px; /* Set a maximum width for better readability on larger screens */
    width: 100%;
}

h1 {
    color: #e44d26;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d14020;
}

.hidden {
    display: none;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
